<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="chocolatey" />
    <package id="ChocolateyGUI" />

    <package id="directx" />
    <package id="vcredist2005" />
    <package id="vcredist2008" />
    <package id="vcredist2010" />
    <package id="vcredist2012" />
    <package id="vcredist2013" />
    <package id="jre8" />
    <package id="adobeair" />

    <package id="7zip.install" />
    <package id="winrar" />
    <package id="adobereader" />
    <package id="OpenOffice" />
    <package id="PDFCreator" />
    <package id="IrfanView" />
    <package id="irfanviewplugins" />
    <package id="VirtualCloneDrive" />

    <package id="Firefox" />
    <package id="GoogleChrome" />
    <package id="Opera" />

    <package id="flashplayeractivex" />
    <package id="flashplayerplugin" />
    <package id="adobeshockwaveplayer" />

    <package id="skype" />

    <package id="teamviewer" />

    <package id="cccp" />

    <package id="microsoftsecurityessentials" />
</packages>