<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="chocolatey" />
    <package id="ChocolateyGUI" />

    <package id="vcredist2013" />
    <package id="jre8" />

    <package id="7zip.install" />
    <package id="winrar" />
    <package id="adobereader" />
    <package id="OpenOffice" />
    <package id="PDFCreator" />
    <package id="IrfanView" />
    <package id="thunderbird" />
    <package id="VirtualCloneDrive" />

    <package id="safari" />
    <package id="Firefox" />
    <package id="GoogleChrome" />
    <package id="Opera" />

    <package id="flashplayeractivex" />
    <package id="flashplayerplugin" />
    <package id="adobeshockwaveplayer" />

    <package id="teamviewer" />
</packages>